[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
aeon_program_v1 = "6LvWxo7kqwNFQzWAFqRJHkwLriPj6x5wnNNMvCm8GX9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/vault-tests.ts tests/service-tests.ts tests/subscribe-tests.ts tests/charge-tests.ts"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/charge-tests.ts"
