name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    uses: ./.github/workflows/reusable-tests.yaml
    with:
      cache: true
      solana_cli_version: 1.18.17
      anchor_version: 0.30.1
      node_version: 20.13.1
      cargo_profile: debug